bootstrap/*
vendor/*
cargas/*
artisan
public/doc/*
public/img/*
public/video/*
public/cache/*
composer.json
composer.lock
CONTRIBUTING.md
phpunit.xml
server.php
app/config/*
app/commands/*
app/database/*
app/lang/*
app/start/*
app/storage/*
app/tests/*
vhc/img/*
vhc/doc/*
vhc/cache/*
vhc/conexion.php
vhc/php/Conexion.php
doc/*
