body,
html {
  width: 100%;
  height: 100%;
}
.grisClaro{
  color:#eceff1;
}
.grisObscuro{
  color: #263238;
}
.tamTitulo{
  font-size: 2.5em;
}
.tamCita{
  font-size: 0.75em;
}
.texto3D{
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.texto3d{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.textoAzul{
  color:#428bca;
}

.textAzul2{
  color:#03a9f4;
}
.textoAzulLi{
  color:#01579b;
}

.fondoAzul{
  background: #e3f2fd;
}

.blanco{
  color: #fff;
}

.bordeRedondo{ border: 1px solid #263238;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
}

.enlaceSimple:hover{
  text-decoration: none;
  color: #428bca;
}
.enlaceSimple:active{
  text-decoration: none;
  color: #428bca;
}
.enlaceSimple:link{
  text-decoration: none;
}

.enlaceSimple2{
  text-decoration: none;
  color: #fff;
}
.enlaceSimple2:hover{
  text-decoration: none;
  color: #fff;
}
.enlaceSimple2:active{
  text-decoration: none;
  color: #fff;
}
.enlaceSimple2:link{
  text-decoration: none;
  color: #fff;
}

.sangria{
  text-indent: 5%;
}
.formatoTexto{
  font-size: 1.0625em;
}
.formatoTexto2{
  font-size: 1em; /*16*/
}
.formatoTexto3{
  font-size: 1.125em; /*18*/
}
.formatoTexto4{
  font-size: 1.25em; /*20*/
}
.formatoTexto14{
  font-size: 0.875em;
}

.transparenteClaroTxt {
  background-color: rgba(236, 239, 241, 0.8);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
  color:#263238;
}
.transparenteClaroMTxt {
  background-color: rgba(236, 239, 241, 0.9);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
  color:#263238;
}
.transparenteObscuro {
  background-color: rgba(96, 125, 139, 0.7);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
  border-right: #eceff1;
}
.noticiasWell{
  background-color: rgba(208,217,221, 0.8);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
}
.trasparenteClaroPlus{
  background-color: rgba(236, 239, 241, 0.6);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
}
.trasparenteAzul{
  background-color: rgba(66,139,202, 0.9);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
}

.imgN{
  width: 100%;
  height: 200%;
}
#imgI{
  width: 100%;
  height: 100%;
}
.imgS{
  width: 100%;
  height: 90%;
}
.imgS2{
  width: 90%;
  height: 90%;
  margin: 1%;
  padding: 10px 0 10px 0;
}
.imgSm{
  width: 70%;
  height: 70%;
  margin: auto;
}

.lateral{
  float: right;
}

#condicion{
  /* enlaces pie pagina */
  font-size: 0.9375em;
  color: #78909c;
  padding: 1%;
}
#condicion:hover{
  text-decoration: none;
  color: #cfd8dc;
}

.enlacePie{
  font-size: 0.9375em;
  color: #78909c;
  padding: 1%;
}
.enlacePie:hover{
  text-decoration: none;
  color: #cfd8dc;
}

.colorTxtPieBajo{
  color: #78909c;
}
.facebookEstatico{
  color: #3b5998;
}
.facebookR:hover,
.facebookR:focus,
.facebookR:active,
.facebookR.active {
  padding-top:6px;
  color: #3b5998;
}
.twitterR:hover,
.twitterR:focus,
.twitterR:active,
.twitterR.active {
  padding-top:2px;
  color: #5ea9dd;
}
.googleR:hover,
.googleR:focus,
.googleR:active,
.googleR.active{
  padding-top:4px;
  color: #d14836;
}
.facebook:hover,
.facebook:focus,
.facebook:active,
.facebook.active {
  padding-top:6px;
  color: #3b5998;
  background: #eceff1;
}
.twitter:hover,
.twitter:focus,
.twitter:active,
.twitter.active {
  padding-top:2px;
  color: #5ea9dd;
  background: #eceff1;
}
.google:hover,
.google:focus,
.google:active,
.google.active{
  padding-top:4px;
  color: #d14836;
  background: #eceff1;
}
.pinterest:hover,
.pinterest:focus,
.pinterest:active,
.pinterest.active{
  padding-top:2px;
  color: #cb2027;
  background: #eceff1;
}
.youtube:hover,
.youtube:focus,
.youtube:active,
.youtube.active{
  padding-top:3px;
  color: #df2425;
  background: #eceff1;
}
.btn-outline {
  margin-top: 15px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}
.btn-social {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5%;
  text-align: center;
  font-size: 15px;
}

#piePrincipal{
  clear: both;
  padding: 0 0 0 0;
}
footer {
  clear: both;
  padding: 0;
  margin:0;
  color: #eceff1;
}
footer h3 {
  margin-bottom: 2%;
}
footer .footer-above {
  padding-top: 1%;
  background-color: #37474f;
}
footer .footer-col {
  margin-bottom: 1%;
}
footer .footer-below {
  padding: 1% 0;
  background-color: #263238;
}
#portfolio a,
#portfolio a:hover,
#portfolio a:focus,
#portfolio a:active,
#portfolio a.active {
    outline: 0;
    color: #263238;
    text-decoration: none;
}
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 10px;
}
#portfolio .portfolio-item .portfolio-link {      /*tamaño elemento*/
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 250px;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(66,139,202,.85);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .4s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    padding-top: 30%;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 1.4em;
    color: #01579b;
}
.paddingTexto{
  padding:4% 0 4% 0;
}
.paddingMenu{
  padding:4% 2.5% 4% 2.5%;
}
.paddingMenu2{
  padding:4% 3% 4% 3%;
}
.fondo{
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.fondoInfoteca{
  background-image:url('../../img/infoteca/467228677.jpg');
}
.fondoIntegrate{
  background-image:url('../../img/integrate/126438736.jpg');
}

.animarContenidoEscalar li:hover,
.animarContenidoEscalar h3:hover,
.animarContenidoEscalar h3.active {
  color: #428BCA;
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  transition:.4s;
}

.animEscalarLista a:hover,
.animEscalarLista a.active {
    background: #428BCA;
    color: #fff;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition:.4s;
}

.animEscalarFila tr:hover{
  color: #000;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  transition:.3s;
}
.animEscalarSimple:hover,
.animEscalarSimple.active {
  background: rgba(96,125,139, 0.01);
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  transition:.5s;
}
.animEscalarFondo:hover,
.animEscalarFondo.active {
  background: rgba(236, 239, 241, 0.9);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition:.5s;
}
/******************/
.tituloEntrada {
  -webkit-animation: deslizadoI 2s; /* Safari 4+ */
  -moz-animation:    deslizadoI 2s; /* Fx 5+ */
  -o-animation:      deslizadoI 2s; /* Opera 12+ */
  animation:         deslizadoI 2s; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes deslizadoI {
  0%   { margin-left: 100%;
         width: 100%
       }
  100% {margin-left: 0%;
        width: 100%;
       }
  }
@-moz-keyframes deslizadoI {
  0%   { margin-left: 100%;
         width: 100%
       }
  100% {margin-left: 0%;
        width: 100%;
       }
}
@-o-keyframes deslizadoI{
  0%   { margin-left: 100%;
         width: 100%
        }
  100% { margin-left: 0%;
         width: 100%;}
}
@keyframes deslizadoI {
  0%   { margin-left: 100%;
         width: 100%
        }
  100% {margin-left: 0%;
        width: 100%;
        }
}

.transladarDerecha{
  -webkit-animation: transladarD 2s;
  -moz-animation:    transladarD 2s;
  -o-animation:      transladarD 2s;
  animation:         transladarD 2s;
}

.transladarAbajo{
  -webkit-animation: transladarAR 2s;
  -moz-animation:    transladarAR 2s;
  -o-animation:      transladarAR 2s;
  animation:         transladarAR 2s;
}
.transladarArriba{
  -webkit-animation: transladarAB 2s;
  -moz-animation:    transladarAB 2s;
  -o-animation:      transladarAB 2s;
  animation:         transladarAB 2s;
}
.transladarIzquierda{
  -webkit-animation: transladarI 2s;
  -moz-animation:    transladarI 2s;
  -o-animation:      transladarI 2s;
  animation:         transladarI 2s;
}
.transladarIzquierda2{
  -webkit-animation: transladarI2 2s;
  -moz-animation:    transladarI2 2s;
  -o-animation:      transladarI2 2s;
  animation:         transladarI2 2s;
}

.animacionContenido{
  -webkit-animation: transladarAR 2s;
  -moz-animation:    transladarAR 2s;
  -o-animation:      transladarAR 2s;
  animation:         transladarAR 2s;
}
.animacionContenido p,
.animacionContenido li{
  -webkit-animation: transladarI 2s;
  -moz-animation:    transladarI 2s;
  -o-animation:      transladarI 2s;
  animation:         transladarI 2s;
}
.animacionContenido img{
  -webkit-animation: transladarD 2s;
  -moz-animation:    transladarD 2s;
  -o-animation:      transladarD 2s;
  animation:         transladarD 2s;
}
.animacionContenido h5,
.animacionContenido h4,
.animacionContenido h3,
.animacionContenido h2,
.animacionContenido h1{
  -webkit-animation: transladarAB 2s;
  -moz-animation:    transladarAB 2s;
  -o-animation:      transladarAB 2s;
  animation:         transladarAB 2s;
}

@-webkit-keyframes transladarI {
  0%   { -webkit-transform: translate(200px,0px);
         transform: translate(200px,0px);
         opacity: 0;
       }
  100% {
         -webkit-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
  }
@-moz-keyframes transladarI {
  0%   { -moz-transform: translate(200px,0px);
         transform: translate(200px,0px);
         opacity: 0;
       }
  100% {
         -moz-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
}
@-moz-keyframes transladarI2 {
  0%   { -moz-transform: translate(200px,0px);
         transform: translate(200px,0px);
         opacity: 0;
       }
       90% {
              -moz-transform: translate(-100px,0px);
              transform: translate(-50px,0px);
              opacity: 1;
            }
  100% {
         -moz-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
}
@-o-keyframes transladarI{
  0%   { -o-transform: translate(200px,0px);
         transform: translate(200px,0px);
         opacity: 0;
        }
  100% { -o-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1; }
}
@keyframes transladarI2{
  0%   { transform: translate(200px,0px);
         opacity: 0;
        }
      90% {
             transform: translate(-50px,0px);
             opacity: 1;
           }
  100% {transform: translate(0px,0px);
        opacity: 1;
        }
}

@-webkit-keyframes transladarD {
  0%   { -webkit-transform: translate(-200px,0px);
         transform: translate(-200px,0px);
         opacity: 0;
       }
  100% {
         -webkit-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
  }

@-moz-keyframes transladarD {
  0%   { -moz-transform: translate(-200px,0px);
         transform: translate(-200px,0px);
         opacity: 0;
       }
  100% {
         -moz-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
}
@-o-keyframes transladarD{
  0%   { -o-transform: translate(-200px,0px);
         transform: translate(-200px,0px);
         opacity: 0;
        }
  100% { -o-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1; }
}
@keyframes transladarD {
  0%   { transform: translate(-200px,0px);
         opacity: 0;
        }
  100% {transform: translate(0px,0px);
        opacity: 1;
        }
}

@-webkit-keyframes transladarAR {
  0%   { -webkit-transform: translate(0px,200px);
         transform: translate(0px,200px);
         opacity: 0;
       }
  100% {
         -webkit-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
  }
@-moz-keyframes transladarAR {
  0%   { -moz-transform: translate(0px,200px);
         transform: translate(0px,200px);
         opacity: 0;
       }
  100% {
         -moz-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
}
@-o-keyframes transladarAR{
  0%   { -o-transform: translate(0px,200px);
         transform: translate(0px,200px);
         opacity: 0;
        }
  100% { -o-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1; }
}
@keyframes transladarAR {
  0%   { transform: translate(0px,200px);
         opacity: 0;
        }
  100% {transform: translate(0px,0px);
        opacity: 1;
        }
}

@-webkit-keyframes transladarAB {
  0%   { -webkit-transform: translate(0px,-50px);
         transform: translate(0px,-50px);
         opacity: 0;
       }
  100% {
         -webkit-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
  }
@-moz-keyframes transladarAB {
  0%   { -moz-transform: translate(0px,-50px);
         transform: translate(0px,-50px);
         opacity: 0;
       }
  100% {
         -moz-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1;
       }
}
@-o-keyframes transladarAB{
  0%   { -o-transform: translate(0px,-50px);
         transform: translate(0px,-50px);
         opacity: 0;
        }
  100% { -o-transform: translate(0px,0px);
         transform: translate(0px,0px);
         opacity: 1; }
}
@keyframes transladarAB {
  0%   { transform: translate(0px,-50px);
         opacity: 0;
        }
  100% {transform: translate(0px,0px);
        opacity: 1;
        }
}

.activoLiMenu{
  color: #eceff1;
  background-color: #428bca;
  outline: 0;
}
.activoLiV{
  color: #eceff1;
  background-color: #4caf50;
  outline: 0;
}
.activoLi{
  background-color: #37474f;
  outline: 0;
}
.activoBorde{
  color: #eceff1;
  background-color: #428bca;
  outline: 0;
  border-bottom: 1px solid #37474f;
  border-top: 1px solid #37474f;
}
.tablaAdm{
  color: #eceff1;
  background-color: #00695c;
  outline: 0;
}

/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:900px) {
    .navbar {
        padding: 9px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
     .top-nav-collapse {
        padding: 0;
    }
}
#barraNav{
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.navbar-default {
  border-color: transparent;
  background-color: #263238;
}
.navbar-default .nav li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}
.dropdown-menu{
  background-color: #37474f;
}
.colorNav{
  background-color: #37474f;
}
.colorNav li a:hover,
.colorNav li a:active,
.colorNav li a:focus{
  background-color: #428bca;
  color: #eceff1;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:active,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #428bca;
}







/*nav div.footer-ribbon:before {
    border-right-color: #1b5e20;
}
nav div.footer-ribbon:before {
    border-right: 10px solid #1b5e20;
    border-top: 16px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}*/
nav div.container div.row > div {
    margin-bottom: 5px;
}

nav div.footer-ribbon {
    background: #263238;
    margin: 68px 0 0 0px;
    padding: 8px 5px 8px 0px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

nav div.footer-ribbon span{
    color: #ffffff;
    font-weight: 700;
}
.txtRibbon{
  color:#ffffff;
}


.intro-table {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
  height: 150px
}
.elemento{
  padding: 25px 0 0 0;
}

.intro-table-hover h3 {                            /*texto */
	-webkit-transform: translateY(90px);
	transform: translateY(90px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-table-hover p {                               /*texto */
	-webkit-transform: translateY(90px);
	transform: translateY(90px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-table-hover .pld {                            /*texto pld*/
	-webkit-transform: translateY(80px);
	transform: translateY(80px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.dmask{   /*fondo azul*/
    width: 100%;
    height: 150px;
    color: #ffffff;
    padding:8px 0 8px 15px;
}
/*.white {
	color: white;
}*/
.fondoD1{
  color: white;
}
.fondoD1:hover{
  background: rgba(1,87,155, 0.65);
  color: rgb(225,245,254);
}


.efecto1:hover{
  background-position: 50% 50%;
  background-color: rgba(255,255,255,0.5);
   background-image: url('../../img/servicios/101371076s.jpg');
}
.efecto1{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
  background-image: url('../../img/servicios/101371076s.jpg');
}

.efecto2:hover{
  background-image: url('../../img/servicios/487967033.jpg');
  background-position: 50% 50%;
}
.efecto2{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/487967033.jpg');
}

.efecto3:hover{
  background-image: url('../../img/servicios/461998221s.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto3{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/461998221s.jpg');
}

.efecto4:hover{
  background-image: url('../../img/servicios/180256715s.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto4{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/180256715s.jpg');
}

.efecto5:hover{
  background-image: url('../../img/servicios/178709202s.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto5{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/178709202s.jpg');
}

.efecto6:hover{
  background-image: url('../../img/servicios/139543897.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto6{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/139543897.jpg');
}

.efecto7:hover{
  background-image: url('../../img/servicios/140301755.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto7{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/140301755.jpg');
}

.efecto8:hover{
  background-image: url('../../img/servicios/467926585.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto8{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/467926585.jpg');
}

.efecto9:hover{
  background-image: url('../../img/servicios/166150527s.jpg');
  /*background-image: url('../../img/servicios/101371076s.jpg');*/
  background-position: 50% 50%;
}
.efecto9{
  -webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../img/servicios/166150527s.jpg');
}


.intro-table-hover .expand {                                              /*boton hover */
	margin: 30px;
	margin-top: 30px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}
.intro-table-hover .btnPld {                                              /*boton hover PLD*/
	margin: 30px;
	margin-top: 20px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}

.intro-table-hover:hover h3 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.intro-table-hover:hover p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-table-hover:hover .expand {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.intro-table-hover .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
	opacity: 0;
}

.intro-table-hover .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
	opacity: 0;
}
.intro-tables .intro-table .bottom {
	position: absolute;
	bottom: 0;
}

.tam1{
  font-size: 1.5em;
}
.tam2{
  font-size: 1.6em;
}
.fondoAzulClaro{
  background-color: #e8eaf6;
}
.imgPortafolio{
  padding: 5%;
}

.tamMenu{
    height: 500px;
    width: 200px;
}
.tamTab{
  height: 500px;
}
.tamMenu2{
  height: 400px;
}

.fixed{position:fixed;}
.absolute{
   clear: both;
  position:relative ;
}
.z1{
  z-index: 3;
}
.z2{
  z-index: 1;
}
.liIntegrate{
  list-style-type: none;
  cursor:pointer;
}
.liSomos{
  cursor:pointer;
}
.liSinVineta{
  list-style-type: none;
}
.liConducta{
  padding: 5px;
}



.modal.modal-wide .modal-dialog {
  width: 80%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
